**/payload-types.ts
**/payload-generated-schema.ts
src/app/(payload)/admin/importMap.js
.agents
.next
.pnpm-store
.tmp
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
**/docs/**
pnpm-lock.yaml
coverage
playwright-report
test-results
tsconfig.json
tsconfig.tsbuildinfo
